body{
  text-align:center;

}
ul{
  font-size:30px;
  list-style:none;
  font-family: 'Stint Ultra Condensed', cursive;
  float:right;
  top:10px;
  right:30px;
  cursor:pointer;
  color:black;
}
li:hover{
  background-color:lime;
}
#Batmanimage{ 
  height:200px;
  width:250px;
  border-radius:50px;
}
#SECTION{
  font-family:Franklin Gothic;
}
#heading{
   background: linear-gradient(#ff7070 0%, #9c0202 100%); 
}
h2{
  font-family:chiller;
  color:red;
  background-color:black;
  text-height:5000px;
}